.cortar{
  width:350px;
  height:20px;
  /* padding:20px; */
  /* border:1px solid blue; */
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}
/* .cortar:hover {
  width: auto;
  white-space: initial;
  overflow:visible;
  cursor: pointer;
} */
